nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #f1f5f9;
  padding: 15px;
}
.website-logo {
  height: 70px;
  width: 180px;
  margin-left: 50px;
}
.link-element-header{
  text-decoration: none;
}